@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The budget tool for everyone who has more dollars than sense.</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-danger btn-lg btn-block" href="@Url.Action(ActionName.LOGIN_AS_HEAD_OF_HOUSEHOLD, ControllerName.ACCOUNT)" style="width:100%">Sign In as Samuel Smith | Dad, Budget Administrator</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-warning btn-lg" href="@Url.Action(ActionName.LOGIN_AS_JILL, ControllerName.ACCOUNT)" style="width:100%">Sign In as Jill Smith | Mom</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-info btn-lg" href="@Url.Action(ActionName.LOGIN_AS_ERIC, ControllerName.ACCOUNT)" style="width:100%">Sign In as Eric Smith | Child</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success btn-lg" href="@Url.Action(ActionName.LOGIN_AS_LINDA, ControllerName.ACCOUNT)" style="width:100%">Sign In as Linda Smith | Child</a></p>
    </div>
</div>